.bottom-cta {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 12px 0;
}

.bottom-cta-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.bottom-cta-container p {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.bottom-cta-buttons {
  display: flex;
  gap: 16px;
}

.home-btn {
  min-width: 240px;
  height: 48px;

  border: none;
  border-radius: 8px;

  background: #9b6cf3;
  color: white;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.clinic-btn {
  min-width: 240px;
  height: 48px;

  border-radius: 8px;
  border: 1px solid #d9d9d9;

  background: #f5f5f5;
  color: #222;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.home-btn:hover {
  background: #8655eb;
}

.clinic-btn:hover {
  background: #ececec;
}

@media (max-width: 768px) {
  .bottom-cta-container {
    flex-direction: column;
    gap: 20px;
  }

  .bottom-cta-buttons {
    width: 100%;
    flex-direction: column;
  }

  .home-btn,
  .clinic-btn {
    width: 100%;
  }
}